[Desktop Entry]
Name=Tail Tray
GenericName=Tail Tray
Comment=Tailscale Tray Application
Exec=/usr/local/bin/tail-tray
Icon=/usr/local/share/icons/hicolor/128x128/apps/tailscale.png
Type=Application
Categories=Qt;KDE;Utility;Networking;Internet;VPN;
StartupNotify=true
Terminal=false
NoDisplay=false