name: Build Ubuntu 25.10 - Deb

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "**" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        build_type: [Release]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set reusable strings
        id: strings
        shell: bash
        run: |
          echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"

      - name: Create structure
        shell: bash
        run: |
          mkdir -p ${{ steps.strings.outputs.build-output-dir }}
          echo "Build output directory: ${{ steps.strings.outputs.build-output-dir }}"

      - name: Package DEB file for Ubuntu 25.10
        uses: jtdor/build-deb-action@v1
        env:
          DEB_BUILD_OPTIONS: noautodbgsym
        with:
          artifacts-dir: build
          docker-image: ubuntu:25.10
          extra-build-deps: devscripts git libkf6notifications-dev extra-cmake-modules qt6-tools-dev qt6-tools-dev-tools davfs2
          buildpackage-opts: --build=binary --no-sign
          before-build-hook: |
            apt-get install libkf6notifications-dev
            git checkout debian/changelog
            cmake -B ${{ steps.strings.outputs.build-output-dir }} \ 
              -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \ 
              -DKNOTIFICATIONS_ENABLED=ON \ 
              -S /github/workspace \ 
              -G "Unix Makefiles" 
            
            debchange --controlmaint --local="ubuntu-25.10-plucky~git$(git rev-parse --short HEAD)" "CI build"

      - name: Upload DEB for PR builds
        if: github.event_name == 'pull_request'
        uses: actions/upload-artifact@v4
        with:
          name: Ubuntu-25.10.deb
          path: ${{ steps.strings.outputs.build-output-dir }}/*.deb
          overwrite: true
      
      - name: Upload DEB files
        if: github.ref == 'refs/heads/master'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        shell: bash
        run: |
          mv ${{ steps.strings.outputs.build-output-dir }}/*ubuntu-25.10*.deb ${{ steps.strings.outputs.build-output-dir }}/tail-tray-ubuntu-25.10.deb
          gh release upload latest ${{ steps.strings.outputs.build-output-dir }}/*.deb --clobber
